.header-container {
  margin: 8rem 10% 0;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
  }
}
.header {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  box-shadow: var(--header-shadow);
  background-color: #fff;
  border-bottom: var(--grey-light2);
}
.header-name {
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin-left: 2rem;
  letter-spacing: 3px;

  & a {
    font-weight: 600;
    color: #000;
  }
}
.header-nav {
  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #000;
    @media only screen and (max-width: $bp-smallest) {
      font-size: 2rem;
    }
  }

  & > *:hover:not(.payments) {
    background-color: var(--grey-light2);
  }

  &__payments {
    padding: 1.6rem 2.4rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    background-color: var(--grey-light2);
    color: #000;
    border-radius: 4rem;
    position: relative;
    border: 1px solid var(--color-primary);
  }

  // &__payments::before {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 3px;
  //   background-color:black;
  //   transform: scale(0);
  //   transition: transform 1s;

  // }

  &__payments:hover {
    background-color: var(--color-primary-light);
    color: var(--white);
  }

  &__payments:focus {
    outline: none;
  }

  & a {
    color: #000;
  }
}
