.header-container {
  max-width: 120rem;
  margin: 6% 10% 0; }

.header {
  height: 7rem;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  box-shadow: var(--header-shadow);
  background-color: #fff;
  border-bottom: var(--grey-light2); }

.header-name {
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin-left: 2rem;
  letter-spacing: 3px; }
  .header-name a {
    font-weight: 600;
    color: #000; }

.header-nav {
  display: flex;
  align-items: center; }
  .header-nav > * {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #000; }
  .header-nav > *:hover:not(.payments) {
    background-color: var(--grey-light2); }
  .header-nav__payments {
    padding: 1.6rem 2.4rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    background-color: var(--grey-light2);
    color: #000;
    border-radius: 4rem;
    position: relative;
    border: 1px solid var(--color-primary); }
  .header-nav__payments:hover {
    background-color: var(--color-primary-light); }
  .header-nav__payments:focus {
    outline: none; }
  .header-nav a {
    color: #000; }

.form-container {
  max-width: 120rem;
  margin: 0 10% 0;
  background-color: var(--grey-light3);
  height: 84vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3); }

.btn-submit {
  font-size: 1.5rem;
  padding: 1.5rem 4rem;
  border-radius: 4rem;
  margin: 0 auto;
  text-transform: uppercase;
  transition: all 0.3s;
  border: 1px solid var(--color-primary); }
  .btn-submit:hover {
    background-color: var(--color-primary);
    transform: translateY(3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .btn-submit:active {
    outline: none;
    box-shadow: var(--header-shadow); }
  .btn-submit:focus {
    outline: none; }

.heading-primary {
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 6rem auto;
  background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 1s; }

.auth-form {
  display: flex;
  flex-direction: column;
  color: #000;
  margin-bottom: 1.5rem;
  text-transform: uppercase; }
  .auth-form__input {
    font-size: 1.5rem;
    padding: 1.5rem 12rem;
    border-radius: 4rem;
    border: none;
    display: block;
    border-bottom: 3px transparent; }
  .auth-form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid var(--color-primary); }
  .auth-form__label {
    text-align: center;
    font-size: 2rem; }
  .auth-form__danger {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--color-primary); }

.legal {
  color: #000;
  padding: 3rem 1.5rem; }

.form-container.dashboard {
  overflow: auto; }

.heading-primary.dashboard {
  margin: 4rem 0 auto; }

.btn-submit.add {
  margin: 3.5rem 0 7rem 0;
  background-color: var(--white);
  color: #000;
  border: 1px solid var(--color-primary); }

.btn-submit.add:hover {
  background-color: var(--color-primary);
  transform: translateY(3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }

.survey {
  background-color: var(--white);
  color: #000;
  width: 80%;
  margin: 3rem;
  line-height: 2rem;
  font-size: 1.35rem;
  display: inline-block;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
  transition: 0.4s; }
  .survey > * {
    margin: 2rem 2rem; }
  .survey:hover {
    transform: skewX(-2deg); }
  .survey__label {
    display: inline-block; }

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --grey-light1: #faf9f9;
  --grey-light2: #f4f2f2;
  --grey-light3: #f0eeee;
  --grey-light4: #ccc;
  --grey-dark: #333;
  --grey-dark2: #777;
  --grey-dark3: #999;
  --white: #fff;
  --header-shadow: 0 2rem 6rem rgba(0,0,0,.3); }

* {
  margin: 0;
  padding: 0; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: inherit; }

html {
  border-sizing: border-box;
  font-size: 62.5%; }

body {
  color: var(--grey-dark3);
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }
