.header-container {
  margin: 8rem 10% 0; }
  @media only screen and (max-width: 1200px) {
    .header-container {
      margin: 0; } }

.header {
  height: 7rem;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  box-shadow: var(--header-shadow);
  background-color: #fff;
  border-bottom: var(--grey-light2); }

.header-name {
  display: flex;
  align-items: center;
  font-size: 3rem;
  margin-left: 2rem;
  letter-spacing: 3px; }
  .header-name a {
    font-weight: 600;
    color: #000; }

.header-nav {
  display: flex;
  align-items: center; }
  .header-nav > * {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #000; }
  .header-nav > *:hover:not(.payments) {
    background-color: var(--grey-light2); }
  .header-nav__payments {
    padding: 1.6rem 2.4rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    background-color: var(--grey-light2);
    color: #000;
    border-radius: 4rem;
    position: relative;
    border: 1px solid var(--color-primary); }
  .header-nav__payments:hover {
    background-color: var(--color-primary-light);
    color: var(--white); }
  .header-nav__payments:focus {
    outline: none; }
  .header-nav a {
    color: #000; }

.form-container {
  margin: 0 10% 8rem;
  background-color: var(--grey-light3);
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 1200px) {
    .form-container {
      margin: 0; } }

.survey-buttons {
  display: flex;
  align-items: end;
  justify-content: space-between; }
  .survey-buttons.review {
    width: 80%; }

.add.form {
  display: flex;
  align-items: center;
  height: 6rem; }

.btn-submit {
  font-size: 1.5rem;
  padding: 2rem 4rem;
  border-radius: 4rem;
  margin-top: 3rem;
  margin-left: 12rem;
  margin-right: 12rem;
  text-transform: uppercase;
  transition: all 0.3s;
  border: 1px solid var(--color-primary); }
  .btn-submit:hover {
    color: var(--white);
    background-color: var(--color-primary);
    transform: translateY(3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .btn-submit:active {
    outline: none;
    box-shadow: var(--header-shadow); }
  .btn-submit:focus {
    outline: none; }

.form-review {
  margin: 3rem 2rem;
  font-size: 1.6rem; }

.heading-primary {
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 3rem;
  background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 1s; }

.auth-form {
  border: none;
  display: flex;
  flex-direction: column;
  color: #000;
  margin: 2rem auto;
  text-transform: uppercase; }
  .auth-form__input {
    font-size: 1.5rem;
    padding: 1.5rem 12rem;
    border-radius: 4rem;
    border: none;
    display: block;
    border-bottom: 3px transparent; }
  .auth-form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid var(--color-primary); }
  .auth-form__label {
    text-align: center;
    font-size: 2rem; }
  .auth-form__danger {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--color-primary); }

.legal {
  color: #000;
  padding: 2.2rem 1.5rem;
  font-size: 1.2rem; }

.form-container {
  font-size: 1.6rem; }
  .form-container.dashboard {
    overflow: auto; }

.heading-primary.dashboard {
  justify-content: center; }

.search {
  margin: 6rem auto;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    padding: 1.4rem 12rem;
    border-radius: 10rem;
    background-color: var(--white);
    color: inherit;
    border: none;
    font-size: inherit;
    margin-right: -3rem;
    width: 90%;
    transition: all 0.2s; }
  .search__input:focus {
    outline: none;
    width: 100%;
    border: 1px solid var(--color-primary); }
  .search::placeholder {
    text-align: left;
    font-weight: 100;
    color: var(--grey-light4); }
  .search__icon {
    background-color: var(--white); }

.btn-submit.add {
  padding: 2rem 4rem;
  margin: 3.5rem 0 3.5rem 0;
  background-color: var(--white);
  color: #000;
  border: 1px solid var(--color-primary); }

.btn-submit.add:hover {
  background-color: var(--color-primary);
  transform: translateY(3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  color: var(--white); }

.survey {
  background-color: var(--white);
  color: #000;
  width: 80%;
  margin: 3rem;
  line-height: 2rem;
  font-size: 1.35rem;
  display: inline-block;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  position: relative; }
  .survey > * {
    margin: 2rem 2rem; }
  .survey:hover {
    transform: skewX(-2deg); }
  .survey__label {
    display: inline-block; }
  .survey__button {
    position: absolute;
    background-color: white;
    border: none;
    top: 50%;
    left: 84%;
    transform: translate(0%, -100%); }
  .survey__icon {
    height: 3.5rem; }

.feature-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 3rem auto; }

.heading-primary.index {
  text-align: center; }

.feature {
  background-color: var(--white);
  width: 24rem;
  height: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: var(--header-shadow);
  transition: all 0.2s;
  font-size: 2rem; }
  .feature__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
  .feature:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature__item {
    text-align: center;
    margin: 0.6rem 3rem; }
    .feature__item.heading {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 2rem;
      color: var(--grey-dark); }
    .feature__item.text {
      font-size: 1.6rem;
      text-align: left;
      color: var(--grey-dark2); }
    .feature__item.icon {
      height: 3.5rem; }

.reviews {
  height: 25rem;
  padding: 6rem;
  box-shadow: var(--header-shadow);
  transform: skewX(-6deg);
  font-size: inherit;
  margin: 3rem 20rem;
  margin-bottom: 8rem;
  background-color: var(--white); }
  .reviews__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    position: relative;
    transform: skewX(6deg);
    backface-visibility: hidden;
    margin-top: -1rem; }
  .reviews__img {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .reviews:hover .reviews__img {
    filter: blur(3px) brightness(80%); }
  .reviews__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    opacity: 0;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .reviews:hover .reviews__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .reviews__heading {
    display: flex;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    transform: skewX(6deg);
    color: var(--grey-dark);
    padding-left: 1.6rem;
    font-size: 2rem; }
  .reviews__text {
    display: flex;
    color: var(--grey-dark2);
    text-align: left;
    transform: skewX(6deg);
    line-height: 3rem;
    padding-left: 2rem;
    font-size: 1.8rem; }

.index-page {
  overflow: auto;
  text-align: center; }

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --grey-light1: #faf9f9;
  --grey-light2: #f4f2f2;
  --grey-light3: #f0eeee;
  --grey-light4: #ccc;
  --grey-dark: #333;
  --grey-dark2: #777;
  --grey-dark3: #999;
  --white: #fff;
  --header-shadow: 0 2rem 6rem rgba(0,0,0,.3); }

* {
  margin: 0;
  padding: 0; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: inherit; }

html {
  border-sizing: border-box;
  font-size: 62.5%; }

body {
  color: var(--grey-dark3);
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat; }
