.form-container {
  max-width: 120rem;
  margin: 0 10% 0;
  background-color: var(--grey-light3);
  height: 84vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 3rem 6rem rgba(0,0,0,.3);
}

.btn-submit {
  font-size: 1.5rem;
  padding: 1.5rem 4rem;
  border-radius: 4rem;
  margin: 0 auto;
  text-transform: uppercase;
  transition: all 0.3s;
  border: 1px solid var(--color-primary);


  &:hover {
    background-color: var(--color-primary);
    transform: translateY(3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  }

  &:active {
    outline: none;
    box-shadow: var(--header-shadow);
  }

  &:focus {
    outline: none;
  }
}

.heading-primary {
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 6rem auto;
  background-image: linear-gradient(
    to right,
    var(--color-primary-dark),
    var(--color-primary-light)
  );
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 1s;

  &:hover {
    // transform: skewY(1deg) skewX(6deg);
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  color: #000;
  margin-bottom: 1.5rem;
  text-transform: uppercase;

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 12rem;
    border-radius: 4rem;
    border: none;
    display: block;
    border-bottom: 3px transparent;
  }

  &__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid var(--color-primary);
  }

  &__label {
    text-align: center;
    font-size: 2rem;
  }

  &__danger {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--color-primary);
  }
}

.legal {
  color: #000;
  padding: 3rem 1.5rem;
}
